<h1>Listing Episodes</h1>

<% @episodes.each do |episode| %>
  <h2><%= link_to episode.title, episode %></h2>
<% end %>
<hr />
<%= link_to 'New Episode', new_episode_path, class: 'btn btn-primary' %>
