

<p>
  <strong>Title:</strong>
  <%= @episode.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @episode.description %>
</p>

<% if current_user_subscribed? %>
  Haiahaha secret to only subscrbed!
<% else %>
  <%= link_to "Subscribe to watch", new_subscription_path, class: "btn btn-primary" %>
<% end %>
